@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
    body {
        background-color: deepskyblue;
    }
}

body {
	color: white;
}

h1 {
	text-align: center;
}

section {
	width: 99vw;
	display: flex;
	flex-direction: row;
}

.leftsection {
	flex-basis: 48vw;
	margin-left: 20vw;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.rightsection {
	flex-basis: 48vw;
	margin-right: 20vw;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

#outputplayer {
	text-align: center;
}

#center {
	display: flex;
	justify-content: center;
}


.leftheader {
	flex-basis: 48vw;
	margin-left: 20vw;
	text-align: center;

}

.rightheader {
	flex-basis: 48vw;
	margin-right: 20vw;
	text-align: center;
}

main {
	width: 99vw;
	display: flex;
	flex-direction: row;
}

.leftcontent {
	flex-basis: 48vw;
	margin-left: 20vw;
	text-align: center;
}

.rightcontent {
	flex-basis: 48vw;
	margin-right: 20vw;
	text-align: center;
}

#hrclass{					/* for the sum */
	width: 200px;
} 						